<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.training.groupb.serviceprovider.mapper.SalesmanMapper">
    <select id="selectByName" parameterType="string" resultType="com.citi.training.groupb.serviceprovider.entity.Salesman">
        SELECT * FROM salesman WHERE salesman_name = #{salesmanName} LIMIT 1;
    </select>
    <select id="selectFirstSalesman" resultType="com.citi.training.groupb.serviceprovider.entity.Salesman">
        SELECT * FROM salesman LIMIT 1;
    </select>
</mapper>
