<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.training.groupb.serviceprovider.mapper.TransactionRecordsMapper">
    <select id="selectHoldByUser" parameterType="string" resultType="long">
        SELECT shares_hold
        FROM transaction_records
        WHERE RIC = #{ric}
          AND user_id = #{userId}
        ORDER BY transaction_time DESC limit 1;
    </select>
    <select id="selectAll" resultType="com.citi.training.groupb.serviceprovider.vo.response.TransactionView">
        SELECT
            DATE(`records`.`transaction_time`) AS `date`,
            `users`.`user_name` AS `client_name`,
            `records`.`transaction_flag` AS `client_side`,
            `shares`.`shares_name` AS `ticker`,
            `shares`.`RIC` AS `ric`,
            `records`.`transaction_size` AS `size`,
            `records`.`transaction_price` AS `price`,
            (`records`.`transaction_price` * `exchange_rate`.`currency_rate` ) AS `notional_usd`,
            `exchange_rate`.`currency_name` AS `currency`,
            `records`.`issuer_sector` AS `issuer_sector`,
            `salesman`.`salesman_name` AS `salesperson`,
            `records`.`transaction_mode` AS `ht_pt`
        FROM
            (((( `transaction_records` AS `records` JOIN `user` AS `users` ) JOIN `shares` ) JOIN `exchange_rate` ) JOIN `salesman` )
        WHERE `records`.`RIC` = `shares`.`RIC`
          AND `records`.`user_id` = `users`.`user_id`
          AND `records`.`salesman_id` = `salesman`.`salesman_id`
          AND `records`.`currency_id` = `exchange_rate`.`currency_id`
    </select>
    <select id="selectAfterDate" parameterType="string" resultType="com.citi.training.groupb.serviceprovider.vo.response.TransactionView">
        SELECT
            DATE(`records`.`transaction_time`) AS `date`,
            `users`.`user_name` AS `client_name`,
            `records`.`transaction_flag` AS `client_side`,
            `shares`.`shares_name` AS `ticker`,
            `shares`.`RIC` AS `ric`,
            `records`.`transaction_size` AS `size`,
            `records`.`transaction_price` AS `price`,
            (`records`.`transaction_price` * `exchange_rate`.`currency_rate` ) AS `notional_usd`,
            `exchange_rate`.`currency_name` AS `currency`,
            `records`.`issuer_sector` AS `issuer_sector`,
            `salesman`.`salesman_name` AS `salesperson`,
            `records`.`transaction_mode` AS `ht_pt`
        FROM
            (((( `transaction_records` AS `records` JOIN `user` AS `users` ) JOIN `shares` ) JOIN `exchange_rate` ) JOIN `salesman` )
        WHERE `records`.`RIC` = `shares`.`RIC`
          AND `records`.`user_id` = `users`.`user_id`
          AND `records`.`salesman_id` = `salesman`.`salesman_id`
          AND `records`.`currency_id` = `exchange_rate`.`currency_id`
          AND DATE(`records`.`transaction_time`) > DATE(#{startTime});
    </select>
    <select id="selectLatestPrice" parameterType="string" resultType="double">
        SELECT transaction_price
        FROM transaction_records
        WHERE RIC = #{ric}
          AND DATE(transaction_time) = DATE(#{date})
        ORDER BY transaction_time DESC LIMIT 1;
    </select>

    <select id="selectTradeSize" parameterType="string" resultType="long">
        SELECT SUM(transaction_size)
        FROM transaction_records
        WHERE RIC = #{ric}
          AND DATE(transaction_time) = DATE(#{date})
          AND transaction_flag = #{side};
    </select>
</mapper>
