<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.training.groupb.serviceprovider.mapper.UserMapper">
    <select id="selectByUserName" parameterType="string" resultType="com.citi.training.groupb.serviceprovider.entity.User">
        SELECT * FROM user WHERE user_name = #{userName} LIMIT 1;
    </select>
    <select id="selectByLoginName" parameterType="string" resultType="com.citi.training.groupb.serviceprovider.entity.User">
        SELECT * FROM user WHERE login_name = #{loginName} LIMIT 1;
    </select>
    <select id="selectFirstUser" resultType="com.citi.training.groupb.serviceprovider.entity.User">
        SELECT * FROM user LIMIT 1;
    </select>
</mapper>
